services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    networks:
      - backend
  postgres:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=product
    volumes:
      - postgres:/var/lib/postgresql      
    ports:
      - '5432:5432'
    networks:
      - backend
  fastify:
    build: .
    restart: always
    ports:
      - '80:80'
    depends_on:
      - redis
      - postgres
    networks:
      - backend
volumes:
  postgres:

networks:
  backend:
    driver: bridge